@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}

body{
  /* padding:1%; */
  /* background-color: #f5f5f5; */
  background-color: white;
  /* background-color: blue; */
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

/*Navbar CSS */
.nav-bar {
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between; 
  
  
  width: 100%;
	padding: 1em;
  margin-bottom: 1em;
	border: 1px solid #a2a2a2;
	background-color: #3366CC;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0;
  
}


.nav-bar .nav-bar-links {
  display: flex;
  align-items: right;
  justify-content: space-between;
  flex-wrap: wrap;
  float: right;
}

.nav-link {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0 15px;
}

.nav-link:hover{
  background-color: rgb(4, 5, 53);
  color: whitesmoke;
}

.active {
  
  text-decoration: underline;
  color: rgb(4, 5, 53);
}

.inactive {
  text-decoration: none;
  color: #FFFFFC;
}

/*Home page top section CSS */
.home .top{
  max-width: 100%;
  padding:1%;
  display: grid;
  /* grid-template-columns:repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(1, 50px 1fr) 100px;
  /* grid-template-columns : 100px 700px; */
  grid-gap: 70px;
  
}

.home .trms_intro{
  display: flex;
  flex-direction: column;

}
.home .trms_intro h2{
  
  font-size: 2em;
  color: rgb(4, 5, 53);;
}

.home .trms_intro p{
  margin: 0.5rem;
  word-spacing: 0.3rem;
  line-height: 1.2rem;
}


.nav-logo {
  display: flex;
  flex-direction: column;
}

.nav-logo .toolhub-logo {
  width: 6rem;
  height: 6rem;
}

.nav--bar--logo--title {
  
  color: #FFFFFC;
  margin-left: 1em;
  
  font-weight: 800;

}
.home .top .search-field {
  width: 100%;
  height: 100%;
  
  align-items: center;
  justify-content: center;
  align-content: center;
}

 .input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
  width: 100%;
} 

input {
  /* width: 100%;
  height: 5%; */
  padding: 1.5%;
  border-color: rgb(4, 5, 53);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

button {
  width: 10em;
  padding: 1%;
  border-radius: 10px;
  font:inherit;
  border-color: rgb(4, 5, 53);
}

button:hover{
  color : whitesmoke;
  background-color: rgb(4, 5, 53);
}

.home .searh-field form-control{
  height: 50px;
  border-radius: 20px;
  width:70%;
  margin-right: 20px;
  font-size: inherit;
}

.home .sample-tools h1{
  padding:1%;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: rgb(4, 5, 53);
}

/* new css card */
.card-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  
}

.card {
  background-color: whitesmoke;
  color: #1F2124;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 10px 20px 20px 20px;
  width: 280px;
  height: 350px;
  position: relative;
  padding: 20px;
  text-align: center;
  color: white;
  float: left;
}




.card .title {
  font-size: 25px;
  color: #1F2124;
}

.tool-icon .icon {
   width: 80px;
  height: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card .missing-fields ul {
  display: inline;
  padding: 0;
  margin: 20px 0 50px 0;
  color: #1F2124;
  list-style-type: none;
  
}

.card .missing-fields ul li {
  margin: 10px 0;
  font-size: 14px;
}

.card .m-title{
  color: #1F2124;
}

.card .missing-fields ul li span {
  border-bottom: 2px dotted #F6B352;
}

.card .btn {
  display: block;
  background-color: #3366CC;
  color: white;
  width: 100%;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;

}

.btn:hover{
  background: #F6B352;
}





