/*record board */
.rboard-card {
  background: #1F2124;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin:20px;
  width: 250px;
  height: 250px;
  position: relative;
  padding: 20px;
  text-align: center;
  color: white;
  float: left;
}

.rcard-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2px;
  margin-bottom: 50px;
}


.rboard-card .title {
  font-size: 25px;
}

.rboard-card .data{
  margin: 1.5em;
  font-size: 3rem;
  text-align: center;
}

.rboard .data-stats{
  margin: 30px;
}
